:root {

    --blue: #3D79CB;
    --white: #ffffff;
    --black: #000000;
    --light-bg: #F5F5F5;
    --primary-color: #3D79CB;
    --secondary-color: #ffffff;
    --tertiary-color: #000000;
}
// brand Colors
$primary-color: #3D79CB;
$secondary-color: #ffffff;
$tertiary-color: #000000;